/bin
/include
/lib
pyenv.cfg

/multi-agent-policies/test/
/multi-agent-policies/logFile.log
/multi-agent-policies/test_rules/
/multi-agent-policies/scenarios/old_prototypes/

network_*.png
models/*.pl
*.csv
/multi-agent-policies/test*.py
