/multi-agent-policies/test/
/bin
/include
/lib
pyenv.cfg
/multi-agent-policies/scenarios/prototype3/results/
/multi-agent-policies/scenarios/prototype1/results/
/multi-agent-policies/scenarios/prototype2/results/
/multi-agent-policies/scenarios/prototype4/results/

/multi-agent-policies/test/
/multi-agent-policies/test_rules/
/multi-agent-policies/scenarios/policy_ecobalance/results/
/multi-agent-policies/scenarios/old_prototypes/prototype4/results/

